#container {
    width: 80%;
    margin:auto;
    background-color: rgb(182, 210, 255);
    border: 1px solid black;
}

#logo {
    width: 100px;
    float: left;
}

* {
    box-sizing: border-box;
}
#title {
    text-align: left;
}

#title-logo {
    float: left;
}

#header {
    border: 1px solid black;
    overflow: auto;
    background-color: rgb(134, 184, 241);
}

ul {
    list-style-type: none;
    text-align: center;
    margin-right: 20px;
    padding-top: 0px;
    margin: 10px;
    width: 20%;
    float: right;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
}

li a:link {
    background-color: transparent;
    color: black;
}

li a:visited {
    background-color: #5559b3;
    color: black;
}

li a:hover {
    background-color: #555555;
    color: white;
}

li a:active {
    background-color: #5139ca;
    color: white;
}

#upper {
    padding-top: 20px;
    overflow: auto;
    width: 90%;
    margin: auto;
}
#content {
    text-align: justify;
    margin-left: 15px;
}

h2 {
    text-align: center;
}

#group {
    float:right;
    width: 400px;
    margin: 15px;
    padding-top: 10px;
}

#intro{
    float: left;
    padding: 20px;
    overflow: auto;
    width: 50%;
    margin: 10px;
}

#me {
    width: 50%;
    margin: auto;
    padding-left: 100px;
}

#para3 {
    text-align: justify;
    margin-left: 15px;
}



#footer {
    clear: left;
    background-color: rgb(134, 184, 241);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
}