#container {
    width: 80%;
    margin:auto;
    background-color: rgb(182, 210, 255);
    border: 1px solid black;
}

#logo {
    width: 100px;
    float: left;
}

#title-logo {
    float: left;
}

p{
    text-align: justify;
}

header {
    border: 1px solid black;
    overflow: auto;
    background-color: rgb(134, 184, 241);
}

ul {
    list-style-type: none;
    text-align: center;
    padding-top: 0px;
    margin: 10px 20px;
    width: 20%;
    float: right;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
}

li a:link {
    background-color: transparent;
    color: black;
}

li a:visited {
    background-color: #5559b3;
    color: black;
}

li a:hover {
    background-color: #555555;
    color: white;
}

li a:active {
    background-color: #5139ca;
    color: white;
}

footer {
    clear: left;
    background-color: rgb(134, 184, 241);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
    overflow: auto;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

#opening {
    padding: 5px;
    margin:10px;
}

#marine {
    padding: 5px;
    margin: 10px;
}

#human {
    padding: 5px;
    margin: 10px;
}

.sprite {
	background: url('images/sprite.jpg') no-repeat -16px -14px;
	background-size: 600px 180px;
	width: 48px;
	height: 50px;
    float: left;
    padding: 5px;
}


.sprite2 {
	background: url('images/sprite.jpg') no-repeat -75px -13px;
	background-size: 600px 180px;
	width: 45px;
	height: 51px;
    float: left;
    padding: 5px;
}


h1:first-child {
    transition: transform 0.5s ease;
}

h1:first-child:hover {
    transform: scale(1.01) translateY(5px);
}

section{
    background-color: whitesmoke;
}

article {
    padding: 5px;
    border-radius: 5px;
    margin: 10px 0;
    background: #c3dbff;
    transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;
}

article:hover {
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    transform: scale(1.005);
    background: #9fbaff;
}