#container {
    width: 80%;
    margin:auto;
    background-color: rgb(182, 210, 255);
    border: 1px solid black;
}

#logo {
    width: 100px;
    float: left;
}

#title-logo {
    float: left;
}

header {
    border: 1px solid black;
    overflow: auto;
    background-color: rgb(134, 184, 241);
}

ul {
    list-style-type: none;
    text-align: center;
    margin-right: 20px;
    padding-top: 0px;
    margin: 10px;
    width: 20%;
    float: right;
}

li a {
    display: block;
    color: black;
    text-decoration: none;
}

li a:link {
    background-color: transparent;
    color: black;
}

li a:visited {
    background-color: #5559b3;
    color: black;
}

li a:hover {
    background-color: #555555;
    color: white;
}

li a:active {
    background-color: #5139ca;
    color: white;
}

footer {
    clear: left;
    background-color: rgb(134, 184, 241);
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid black;
}

section {
    margin: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

article {
    background-color: rgba(178, 207, 247, 0.9); 
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease-in-out, transform 1s ease-in-out;
}

article:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.005);
    background-color: #a5a8e1;
}